<div class="nav-links">
    <a href="/shaggy-solstice/">Home</a>
    <a href="/shaggy-solstice/about/">About</a>
    <a href="/shaggy-solstice/blog/">Blog</a>
    <a href="/shaggy-solstice/tags/">Tags</a>
</div>
